@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F2F0;
    color: #333;
    line-height: 1.0;
    margin: 200px 600px 200px 600px;
}

table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    vertical-align: top;
    border: 1px solid black;
    padding: 5px;
}

th {
    width: 180px;
}

.titulo {
    font-weight: bold;
    width: 330px;
}

footer {
    font-size: 15px;
}